@CHARSET "ISO-8859-1";

/* General */
#site-title {
	padding-bottom: 0px;
}

.container .jumbotron {
    color: #FFF;
    text-shadow: 0 3px 3px rgba(3, 3, 3);
    padding: 0;
}

.container .jumbotron-error {
    color: #000 !important;
    text-shadow: 0 3px 3px rgba(252, 252, 252) !important;
}
	.jumbotron .overlay {
	    background: rgba(3, 3, 3, .5);
	    padding: 60px;
	}
	
	.jumbotron-error .overlay {
        background: rgba(252, 252, 252, .75) !important;
    }

    #page-index     { background: url(../images/high-res/train_norway.jpg) center center no-repeat; }
    #page-404       { background: url(../images/high-res/rula_sibai.jpg) center center no-repeat; }
    #page-exception { background: url(../images/high-res/art-wave-web-design-fence-filtered.jpg) center center no-repeat; }
    
.footer {
    margin-top: 40px;
}

div>h2 {
    margin-top: 0;
}

/* Specific modules */
.page-header small {
    display: block;
    padding-top: 13px;
}

.bosom-section {
    padding-bottom: 40px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.sub {
    display: block;
}

#form-calc .help-block {
    padding: 7.5px 10px !important;
}

.callout {
    margin: 20px 0;
    padding: 20px;
    border-left-width: 7.5px;
    border-left-style: solid;
    border-left-color: #eee;
}
    .callout-primary { border-left-color: #428bca; }
    .callout-success { border-left-color: #5cb85c; }
    .callout-info    { border-left-color: #5bc0de; }
    .callout-warning { border-left-color: #f0ad4e; }
    .callout-danger  { border-left-color: #d9534f; }
    
.img-inline-left {
    float: left;
    margin-right: 10px;
}    

.img-inline-right {
    float: right;
    margin-left: 10px;
}    

.cell-vertical-middle th,
.cell-vertical-middle td {
	vertical-align: middle !important;
}

/* Scrollspy
 * http://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=enable-affix-via-javascript 
 */
ul.nav-tabs {
    width: 140px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

ul.nav-tabs li {
    margin: 0;
    border-top: 1px solid #ddd;
}

ul.nav-tabs li:first-child {
    border-top: none;
}

ul.nav-tabs li a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}

ul.nav-tabs li.active a,ul.nav-tabs li.active a:hover {
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a {
    border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a {
    border-radius: 0 0 4px 4px;
}

ul.nav-tabs.affix {
    top: 30px; /* Set the top position of pinned element */
}

/* flot.js */
#results-graph-graph {
    margin-top: 30px !important; 
}

.axisLabels {
    color: #999999 !important;
}